{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GENERIC DJANGO PROJECT</title>

    <!-- STATIC ASSETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block custom-css %}{% endblock custom-css %}
</head>
<body>
    {% block content %}
    {% endblock content %}
<script type="text/application" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/application" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/application" src="{% static 'js/base.js' %}"></script>
</body>
</html>
